In [1]:
import pandas as pd
 import numpy as np
 from matplotlib import pyplot as plt
 %matplotlib inline
 import matplotlib
 matplotlib.rcParams["figure.figsize"] = (20,10)

IndentationError: unexpected indent (3442765666.py, line 2)

In [3]:
df1 = pd.read_csv("/content/Bengaluru_House_Data.csv")
 df1.head()

IndentationError: unexpected indent (3908982225.py, line 2)

In [5]:
df1.shape

NameError: name 'df1' is not defined

In [7]:
df1.columns

NameError: name 'df1' is not defined

In [9]:
df1['area_type']

NameError: name 'df1' is not defined

In [11]:
df1['area_type'].unique()

NameError: name 'df1' is not defined

In [13]:
df1['area_type'].value_counts()

NameError: name 'df1' is not defined

In [15]:
df2 = df1.drop(['area_type','society','balcony','availability'],axis='columns')
 df2.shape

IndentationError: unexpected indent (2230227733.py, line 2)

In [17]:
df2.isnull().sum()

NameError: name 'df2' is not defined

In [19]:
df2.shape

NameError: name 'df2' is not defined

In [21]:
df3 = df2.dropna()
 df3.isnull().sum()

IndentationError: unexpected indent (78127697.py, line 2)

In [23]:
df3.shape

NameError: name 'df3' is not defined

In [25]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

NameError: name 'df3' is not defined

In [27]:
df3.head()

NameError: name 'df3' is not defined

In [29]:
 df3.bhk.unique()

NameError: name 'df3' is not defined

In [31]:
 df3[df3.bhk>20]

NameError: name 'df3' is not defined

In [33]:
df3.total_sqft.unique()

NameError: name 'df3' is not defined

In [35]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [37]:
df3[~df3['total_sqft'].apply(is_float)].head(10)

NameError: name 'df3' is not defined

In [39]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [41]:
convert_sqft_to_num('2100 - 2850')

2475.0

In [43]:
convert_sqft_to_num('34.46Sq. Meter')

In [45]:
df4 = df3.copy()
 df4.total_sqft = df4.total_sqft.apply(convert_sqft_to_num)
 df4

IndentationError: unexpected indent (3618033033.py, line 2)

In [47]:
df4 = df4[df4.total_sqft.notnull()]
 df4

IndentationError: unexpected indent (3792448668.py, line 2)

In [49]:
df4.loc[30]

NameError: name 'df4' is not defined

In [51]:
(2100 + 2850)/2

2475.0

In [53]:
df5 = df4.copy()
 df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']
 df5.head()

IndentationError: unexpected indent (3551498961.py, line 2)

In [55]:
df5_stats = df5['price_per_sqft'].describe()
 df5_stats

IndentationError: unexpected indent (1334231724.py, line 2)

In [57]:
df5.to_csv("bhp.csv",index=False)

NameError: name 'df5' is not defined

In [59]:
len(df5.location.unique())

NameError: name 'df5' is not defined

In [61]:
df5.location = df5.location.apply(lambda x: x.strip())
 location_stats = df5['location'].value_counts(ascending=False)
 location_stats

IndentationError: unexpected indent (2317354566.py, line 2)

In [63]:
len(location_stats[location_stats>10])

NameError: name 'location_stats' is not defined

In [65]:
len(location_stats)

NameError: name 'location_stats' is not defined

In [67]:
len(location_stats[location_stats<=10])

NameError: name 'location_stats' is not defined

In [69]:
location_stats_less_than_10 = location_stats[location_stats<=10]
 location_stats_less_than_10

IndentationError: unexpected indent (1592793682.py, line 2)

In [72]:
len(df5.location.unique())

NameError: name 'df5' is not defined

In [74]:
 df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_less_tha
 len(df5.location.unique())

SyntaxError: '(' was never closed (483666329.py, line 1)

In [76]:
 df5.head(10)

NameError: name 'df5' is not defined

In [78]:
df5[df5.total_sqft/df5.bhk<300].head()

NameError: name 'df5' is not defined

In [80]:
df5.shape

NameError: name 'df5' is not defined

In [82]:
df6 = df5[~(df5.total_sqft/df5.bhk<300)]
 df6.shape

IndentationError: unexpected indent (391048743.py, line 2)

In [84]:
df6.columns

NameError: name 'df6' is not defined

In [86]:
plt.boxplot(df6['total_sqft'])
 plt.show()

IndentationError: unexpected indent (1446475117.py, line 2)

In [90]:
Q1 = np.percentile(df6['total_sqft'], 25.) # 25th percentile of the data of the giv
 Q3 = np.percentile(df6['total_sqft'], 75.) # 75th percentile of the data of the giv
 IQR = Q3-Q1 #Interquartile Range
 ll = Q1 - (1.5*IQR)
 ul = Q3 + (1.5*IQR)
 upper_outliers = df6[df6['total_sqft'] > ul].index.tolist()
 lower_outliers = df6[df6['total_sqft'] < ll].index.tolist()
 bad_indices = list(set(upper_outliers + lower_outliers))
 drop = True
if drop:
    df6.drop(bad_indices, inplace = True, errors = 'ignore')

IndentationError: unexpected indent (1113057960.py, line 2)

In [92]:
plt.boxplot(df6['bath'])
 plt.show()

IndentationError: unexpected indent (630945680.py, line 2)

In [94]:
 Q1 = np.percentile(df6['bath'], 25.) # 25th percentile of the data of the given fea
 Q3 = np.percentile(df6['bath'], 75.) # 75th percentile of the data of the given fea
 IQR = Q3-Q1 #Interquartile Range
 ll = Q1 - (1.5*IQR)
 ul = Q3 + (1.5*IQR)
 upper_outliers = df6[df6['bath'] > ul].index.tolist()
 lower_outliers = df6[df6['bath'] < ll].index.tolist()
 bad_indices = list(set(upper_outliers + lower_outliers))
 drop = True
 if drop:
    df6.drop(bad_indices, inplace = True, errors = 'ignore')

NameError: name 'np' is not defined

In [96]:
plt.boxplot(df6['price'])
 plt.show()

IndentationError: unexpected indent (3269750629.py, line 2)

In [98]:
 Q1 = np.percentile(df6['price'], 25.) # 25th percentile of the data of the given fe
 Q3 = np.percentile(df6['price'], 75.) # 75th percentile of the data of the given fe
 IQR = Q3-Q1 #Interquartile Range
 ll = Q1 - (1.5*IQR)
 ul = Q3 + (1.5*IQR)
 upper_outliers = df6[df6['price'] > ul].index.tolist()
 lower_outliers = df6[df6['price'] < ll].index.tolist()
 bad_indices = list(set(upper_outliers + lower_outliers))
 drop = True
 if drop:
 df6.drop(bad_indices, inplace = True, errors = 'ignore')

IndentationError: expected an indented block after 'if' statement on line 10 (3332375264.py, line 11)

In [100]:
 plt.boxplot(df6['bhk'])
 plt.show()

NameError: name 'plt' is not defined

In [102]:
Q1 = np.percentile(df6['bhk'], 25.) # 25th percentile of the data of the given feat
 Q3 = np.percentile(df6['bhk'], 75.) # 75th percentile of the data of the given feat
 IQR = Q3-Q1 #Interquartile Range
ll = Q1 - (1.5*IQR)
 ul = Q3 + (1.5*IQR)
 upper_outliers = df6[df6['bhk'] > ul].index.tolist()
 lower_outliers = df6[df6['bhk'] < ll].index.tolist()
 bad_indices = list(set(upper_outliers + lower_outliers))
 drop = True
 if drop:
    df6.drop(bad_indices, inplace = True, errors = 'ignore')

IndentationError: unexpected indent (2349008738.py, line 2)

In [104]:
plt.boxplot(df6['price_per_sqft'])
 plt.show()

IndentationError: unexpected indent (864625444.py, line 2)

In [106]:
Q1 = np.percentile(df6['price_per_sqft'], 25.) # 25th percentile of the data of the
 Q3 = np.percentile(df6['price_per_sqft'], 75.) # 75th percentile of the data of the
 IQR = Q3-Q1 #Interquartile Range
 ll = Q1 - (1.5*IQR)
 ul = Q3 + (1.5*IQR)
 upper_outliers = df6[df6['price_per_sqft'] > ul].index.tolist()
 lower_outliers = df6[df6['price_per_sqft'] < ll].index.tolist()
 bad_indices = list(set(upper_outliers + lower_outliers))
 drop = True
 if drop:
    df6.drop(bad_indices, inplace = True, errors = 'ignore')

IndentationError: unexpected indent (300589566.py, line 2)

In [108]:
df6.shape

NameError: name 'df6' is not defined

In [110]:
X = df6.drop(['price'],axis='columns')
 X.head(3)

IndentationError: unexpected indent (3193159043.py, line 2)

In [112]:
X.shape

NameError: name 'X' is not defined

In [114]:
y = df6.price
 y.head(3)

IndentationError: unexpected indent (2393853330.py, line 2)

In [116]:
len(y)

NameError: name 'y' is not defined

In [122]:
 from sklearn.model_selection import train_test_split
 X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=

SyntaxError: incomplete input (601394880.py, line 2)

In [124]:
 X_train.shape

NameError: name 'X_train' is not defined

In [126]:
y_train.shape

NameError: name 'y_train' is not defined

In [128]:
X_test.shape

NameError: name 'X_test' is not defined

In [130]:
y_test.shape

NameError: name 'y_test' is not defined