In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df1=pd.read_csv('sales.csv', encoding='ISO-8859-1')
df2=pd.read_json('sales.json')
df3=pd.read_excel('sales.xlsx')

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
df3.head()

In [ ]:
df2.shape

In [ ]:
df1.info()

In [ ]:
#Checks for NA values in columns
df1.isna().sum()

In [ ]:
#for calculating some statistical data like percentile, mean and std of the numeric
df1.describe()

In [ ]:
#Dropping unnecessary columns
df1 = df1.drop(['ADDRESSLINE1','ADDRESSLINE2','CITY','STATE','TERRITORY'],axis = 1)

In [ ]:
df1.isna().sum()

In [ ]:
#Filling all NA values with mode of the POSTALCODE column
df1 = df1['POSTALCODE'].fillna(df1.POSTALCODE.mode(), inplace=True)

In [ ]:
df2.info()

In [ ]:
df2.isna().sum()

In [ ]:
df2 = df2.drop(['ADDRESSLINE1','ADDRESSLINE2','CITY','STATE','TERRITORY'],axis = 1)

In [ ]:
df2.describe()

In [ ]:
df3.info()

In [ ]:
df2.isna().sum()

In [ ]:
df3.describe()

In [ ]:
import pandas as pd
# Load the CSV file into a DataFrame
df1 = pd.read_csv('sales.csv',encoding='ISO-8859-1')
df2 = pd.read_json('sales.json')
df3 = pd.read_excel('sales.xlsx')
# Check the data types of columns
data_types = df1.dtypes
print(data_types)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
# Assuming your DataFrame is named df1
sns.histplot(x='STATUS', data=df1)
plt.show()

In [ ]:
 #Plotting histogram plot for STATUS column

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.histplot(x='STATUS', data=df2, )
plt.show()

In [ ]:
#Plotting histogram plot for STATUS column
import seaborn as sns
import matplotlib.pyplot as plt
sns.histplot(x='STATUS', data=df3, )
plt.show()

In [ ]:
#Plotting histogram plot for MONTH_ID column
import seaborn as sns
import matplotlib.pyplot as plt
sns.histplot(x='MONTH_ID', data=df1, )
plt.show()

In [ ]:
#Plotting histogram plot for MONTH_ID column
import seaborn as sns
import matplotlib.pyplot as plt
sns.histplot(x='MONTH_ID', data=df2, )
plt.show()

In [ ]:
#Plotting histogram plot for MONTH_ID column
import seaborn as sns
import matplotlib.pyplot as plt
sns.histplot(x='MONTH_ID', data=df3, )
plt.show()

In [ ]:
#Plotting boxplot for STATUS column against MONTH_ID column
sns.boxplot( x="STATUS", y= "MONTH_ID", data=df1, )
plt.show()

In [ ]:
#Plotting boxplot for STATUS column against MONTH_ID column
sns.boxplot( x="STATUS", y= "MONTH_ID", data=df2, )
plt.show()

In [ ]:
#Plotting boxplot for STATUS column against MONTH_ID column
sns.boxplot( x="STATUS", y= "MONTH_ID", data=df3, )
plt.show()

In [ ]:
#Plotting Scatterplot
sns.scatterplot( x="STATUS", y="MONTH_ID", data=df1,hue='COUNTRY', size='YEAR_ID')
# Placing Legend outside the Figure
plt.legend(bbox_to_anchor=(1, 1), loc=2)
plt.show()

In [ ]:
#Plotting Scatterplot
sns.scatterplot( x="STATUS", y="MONTH_ID", data=df2,hue='COUNTRY', size='YEAR_ID')
# Placing Legend outside the Figure
plt.legend(bbox_to_anchor=(1, 1), loc=2)
plt.show()

In [ ]:
#Plotting Scatterplot
sns.scatterplot( x="STATUS", y="MONTH_ID", data=df3,hue='COUNTRY', size='YEAR_ID')
# Placing Legend outside the Figure
plt.legend(bbox_to_anchor=(1, 1), loc=2)
plt.show()

In [ ]:
#Checking the data only for shipped STATUS
data1=df1[df1["STATUS"]=='Shipped']
data1.head()

In [ ]:
#Checking the data only for shipped STATUS
data2=df2[df2["STATUS"]=='Shipped']
data2.head()

In [ ]:
#Checking the data only for shipped STATUS
data2=df2[df2["STATUS"]=='Shipped']
data2.head()

In [ ]:
data1.shape

In [ ]:
data2.shape

In [ ]:
data3.shape

In [ ]:
#Calculating sum for sales column
sum_sales = df1['SALES'].sum()
print("Addition of all sales",sum_sales)

In [ ]:
#Calculating sum for sales column
sum_sales = df2['SALES'].sum()
print("Addition of all sales",sum_sales)

In [ ]:
#Calculating sum for sales column
sum_sales = df3['SALES'].sum()
print("Addition of all sales",sum_sales)

In [ ]:
#Calulating average for sales column
sales_avg = df1['SALES'].mean()
print("Average of total sales = ",sales_avg)

In [ ]:
#Calulating average for sales column
sales_avg = df2['SALES'].mean()
print("Average of total sales = ",sales_avg)

In [ ]:
#Calulating average for sales column
sales_avg = df3['SALES'].mean()
print("Average of total sales = ",sales_avg)

In [ ]:
import sklearn
import pandas as pd
import seaborn as sns
# IQR
Q1 = np.percentile(df1['SALES'], 25,
interpolation = 'midpoint')
Q3 = np.percentile(df1['SALES'], 75,
interpolation = 'midpoint')
IQR = Q3 - Q1
print("Old Shape: ", df1.shape)
# Upper bound
upper = np.where(df1['SALES'] >= (Q3+1.5*IQR))
# Lower bound
lower = np.where(df1['SALES'] <= (Q1-1.5*IQR))
# Removing the Outliers
df1.drop(upper[0], inplace = True)
df1.drop(lower[0], inplace = True)
print("New Shape: ", df1.shape)
sns.boxplot(x='SALES', data=df1)

In [ ]:

import sklearn
import pandas as pd
import seaborn as sns
# IQR
Q1 = np.percentile(df2['SALES'], 25,
interpolation = 'midpoint')
Q3 = np.percentile(df2['SALES'], 75,
interpolation = 'midpoint')
IQR = Q3 - Q1
print("Old Shape: ", df2.shape)
# Upper bound
upper = np.where(df2['SALES'] >= (Q3+1.5*IQR))
# Lower bound
lower = np.where(df2['SALES'] <= (Q1-1.5*IQR))
# Removing the Outliers
df2.drop(upper[0], inplace = True)
df2.drop(lower[0], inplace = True)
print("New Shape: ", df2.shape)
sns.boxplot(x='SALES', data=df2)

In [ ]:
import sklearn
import pandas as pd
import seaborn as sns
# IQR
Q1 = np.percentile(df3['SALES'], 25,interpolation = 'midpoint')
Q3 = np.percentile(df3['SALES'], 75,interpolation = 'midpoint')
IQR = Q3 - Q1
print("Old Shape: ", df3.shape)